/* rest defaults */
body{
    font-family: sans-serif;
    background-color: #BFD1DF;

}

/* header and nav bar*/
nav{
    background-color: #ECDDD0;
    outline: 0.1em solid #35455D;
    border-radius: 5px;
    border-color: #35455D;;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;

}

nav ul{
    list-style:none;
    margin:none;
    text-align:center;
}

nav li{
    font-size:150%;
    line-height:30px;
    height:15px;
    display:inline-block;
    margin-right:7%;
    margin-left:7%;
    /* background-color: #BFD1DF; */
}

nav a{
    text-decoration:none;
    display:block;
    padding:2px;
    transition:0.3s;
}

nav a:hover{
    padding:2px;
    border-radius:10px;
}

.siteHeader {
    margin: none;
    padding: none;
}

/* home page */
#introContainer{
    outline: 0.3em solid #35455D;;
    border-radius: 2rem;
    border-color: #35455D;;
    float: left;
    background-color: #ECDDD0;
    width: 30%;
    padding: 1.5em;
    margin: 1.5em;
    margin-left: 7em;
    height: 10em;
}

#keyContainer{
    outline: 0.3em solid #35455D;;
    border-radius: 2rem;
    border-color: #35455D;;
    border: 0.5rem;
    float: right;
    background-color: #ECDDD0;
    width: 30%;
    padding: 0.5em;
    margin: 1.5em;
    margin-right:7em;
    height: 10em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 1.5em;
    color: #35455D;
}

#suggestionContainer{
    margin: 0 auto;
    text-align: center;
    outline: 0.3em solid #35455D;;
    border-radius: 2rem;
    border-color: #35455D;;
    border: 0.5rem;
    width: 70%;
    background-color: #ECDDD0;
}

#intro{
    padding: 0.2em;
    color: #35455D;
    font-weight: 2em;
}

#key{
    padding: 0.2em;
    color: #35455D;
}

#suggestion{
    padding: 0.2em;
    color: #35455D;
}

/* play page */
.choiceContainer {
    display: flex;
    justify-content: center;
}

#playHeader {
    display: flex;
    justify-content: center;
    font-size:3em;
    font-weight: 1.5em;
    padding-top: none;
}

#choiceRock {
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    transition: 100ms;
    font-family: sans-serif;
    color:#35455D;
}

#choicePaper {
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    transition: 100ms;
    font-family: sans-serif;
    color:#35455D;
}

#choiceScissors{
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    transition: 100ms;
    font-family: sans-serif;
    color:#35455D;
}

#choiceRock:hover {
    transform: scale(1.5);
}

#choicePaper:hover {
    transform: scale(1.5);
}

#choiceScissors:hover {
    transform: scale(1.5);
}

/* score tallying on play page */
.scoreContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 1.5em;
    color: #35455D;
}

.playerScore {
    padding-left: 2em;
    padding-right: 2em;
}

.computerScore {
    padding-left: 2em;
    padding-right: 2em;
}

#showOutcome{
    color:#35455D;
    font-size: 1.2em;
    /* margin-left: 1.5em; */
    text-align: center;
    
}

/* form */
#first-name {
    background-color:ghostwhite;
    margin:1%;
}

#last-name {
    background-color:ghostwhite;
    margin:1%;
}

#username {
    background-color:ghostwhite;
    margin:1%;
}

#email {
    background-color:ghostwhite;
    margin:1%;  
}

#question {
    background-color:ghostwhite;
    margin:1%;  
    height:200px;
    width:550px;
    font-size:1.3em;
}

/* The style rule format here was taken from https://stackoverflow.com/questions/47357063/vertically-align-an-input-placeholder-with-css-or-set-line-height?noredirect=1&lq=1 */
#question::-webkit-input-placeholder {
    font-family:sans-serif;
}

#answer {
    background-color:ghostwhite;
    margin:1%;  
    height:50px;
    width:300px;
    font-size:1.2em;
}

/* The style rule format here was taken from https://stackoverflow.com/questions/47357063/vertically-align-an-input-placeholder-with-css-or-set-line-height?noredirect=1&lq=1 */
#answer::-webkit-input-placeholder {
    font-family:sans-serif;
}

section form label {
    color:#35455D;
    padding:10px;
    font-size:1.2em;
}

#form-header{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    color: #35455D;

}

section form{
    text-align:center;
}

#submit {
    font-size:1.5em;
    margin:1%;
}

#form-container{
    outline:solid 3px #35455D;
    padding:1%;
    width:60%;
    margin:0 auto;
}

/* form media queries */
@media (min-width: 768px) and (max-width:1023px) {
    #form-container{
        outline:solid 3px #35455D;
        padding:1%;
        width:80%;
        margin:0 auto;
    }
}

@media (min-width: 425px) and (max-width:767px) {
    #form-container{
        outline:solid 3px #35455D;
        padding:1%;
        width:80%;
        margin:0 auto;
    }
    #question {
        background-color:ghostwhite;
        margin:1%;  
        height:200px;
        width:320px;
        font-size:1.3em;
    }
}

@media (min-width: 375px) and (max-width:424px) {
    #form-container{
        outline:solid 3px #35455D;
        padding:1%;
        width:80%;
        margin:0 auto;
    }
    #question {
        background-color:ghostwhite;
        margin:1%;  
        height:150px;
        width:280px;
        font-size:1.3em;
    }
    #answer {
        background-color:ghostwhite;
        margin:1%;  
        height:50px;
        width:280px;
        font-size:1.2em;
    }
}

@media (min-width: 320px) and (max-width:374px) {
    #form-container{
        outline:solid 3px #35455D;
        padding:1%;
        width:80%;
        margin:0 auto;
    }
    #question {
        background-color:ghostwhite;
        margin:1%;  
        height:150px;
        width:236px;
        font-size:1.3em;
    }

    #answer {
        background-color:ghostwhite;
        margin:1%;  
        height:50px;
        width:236px;
        font-size:1.2em;
    }
}


/* footer */
footer {
    margin:0;
}

footer ul {
    text-align:center;
    vertical-align:middle;
    padding:0;
}

footer ul > li {
    display:inline;
}

footer ul i {
    font-size:160%;
    margin:1%;
    padding:2.5%;
}






